$spacing-scale: (
  none: 0,
  xxs: 2px,
  xs: 4px,
  s: 8px,
  m: 16px,
  l: 24px,
  xl: 32px,
  xxl: 48px,
);

$lightgray: #d3d3d3;
$slategray: #708090;

$lightblue: #d9eef7;
$blue: #1f6c93;

$success: #5bb85b;
$danger: #f00;

$black: #000;
$white: #fff;

$button-height: 48px;
$label-width: 175px;
